<aside class="column-4-12 column__tablet-1-1 column__mobile-1-1">
  <div class="content">
    <h4 class="title">
      Services
    </h4>
    <p>
      I provide CSS consultancy and Full Stack Development, I work with the
      following technologies: <b>HTML5</b>, <b>CSS3</b>, <b>JavaScript (ES2015)</b>,
      <b>ReactJS</b>, <b>AngularJS</b>, <b>Ruby</b> and <b>Ruby on Rails</b>
    </p>
    <a href="https://twitter.com/Castrolem" class="twitter-follow-button" data-show-count="false">Follow @Castrolem</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <div class="code-review_price">
      <a class="button aside" href="mailto:luiscastroem@gmail.com?subject=Let%E2%80%99s%20work%20together">
        Currently <b>accepting new projects</b> for Q3, 2016
      </a>
      <small class="text-center">
        <a href="/contact#contact-consultancy">Learn more</a>
      </small>
    </div>

    <h4 class="title">
      Working on
    </h4>
    <img class="current-project" src="/img/clients/client-realscout-dark.png" alt="RealScout Inc." />
    <img class="current-project" src="/img/clients/client-hashlabs-dark.png" alt="Hash Labs LLC." />
  </div>
</aside>
