<footer>
	<div>
		<p class="footnote">
			Made by Luis Castro &#8212;&nbsp;
		</p>
		<a href="https://github.com/castrolem/personal-site" class="footnote--link" rel="nofollow" target="_blank">
			View on GitHub
		</a>
	</div>
	<div>
		<a href="https://twitch.tv/castrolem" class="footnote--link" rel="nofollow" target="_blank" aria-label="Follow me on Twitch">
			<img src="/images/twitch.svg" alt="Follow me on Twitch">
		</a>
		<a href="https://twitter.com/castrolem" class="footnote--link" rel="nofollow" target="_blank" aria-label="Follow me on Twitter">
			<img src="/images/twitter.svg" alt="Follow me on Twitter">
		</a>
		<a href="mailto:luiscastro@hey.com" class="footnote--link" rel="nofollow">
			Get in touch
		</a>
	</div>
</footer>
