<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<meta name="title" content="Hello! I’m a full-stack developer & content creator.">
	<meta name="description"
		  content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/zenburn.css">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="icon" type="image/x-icon" href="/favicon.ico"/>

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://luiscastro.co/">
	<meta property="og:title" content="{% if page.title %}{{page.title}}{% else %}Hello! I’m a full-stack developer & content creator.{% endif %}">
	<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:image" content="/images/cover.jpg">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://luiscastro.co/">
	<meta property="twitter:title" content="{% if page.title %}{{page.title}}{% else %}Hello! I’m a full-stack developer & content creator.{% endif %}">
	<meta property="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta property="twitter:image" content="/images/cover.jpg">
</head>
