<header class="site-header">
  <nav class="main-nav">
    <div class="wrapper">
      <a class="luis-logo light-logo site-title" href="{{ site.baseurl }}/">
        <span class="text">{{ site.title }}</span>
      </a>
      <!-- navigation desktop -->
      <ul>
        <li><a class="link" href="/#biography">bio</a></li>
        <li><a class="link" href="/#workflow">workflow</a></li>
        <li><a class="link" href="/#projects">projects</a></li>
        <li><a class="link" href="/contact">contact</a></li>
      </ul>
      <!-- mobile switcher -->
      <a class="mobile-menu-switch" id="mobile-menu-switch" href="#">
        <span class="oi" data-glyph="grid-three-up"></span>
      </a>
    </div>
  </nav>

  <!-- mobile navigation items -->
  <nav class="mobile-main-nav">
    <ul>
      <li><a class="link" href="#biography">bio</a></li>
      <li><a class="link" href="#workflow">workflow</a></li>
      <li><a class="link" href="#projects">projects</a></li>
      <li><a class="link" href="/contact">contact</a></li>
    </ul>
  </nav>
</header>
