<header class="site-header">
  <nav class="main-nav">
    <div class="wrapper">
      <a class="luis-logo light-logo site-title" href="{{ site.baseurl }}/">
        <span class="text">{{ site.title }}</span>
      </a>
      <!-- navigation desktop -->
      <ul>
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <li><a class="link page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <!-- mobile switcher -->
      <a class="mobile-menu-switch" id="mobile-menu-switch" href="#">
        <span class="oi" data-glyph="grid-three-up"></span>
      </a>
    </div>
  </nav>

  <!-- mobile navigation items -->
  <nav class="mobile-main-nav">
    <ul>
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li><a class="link page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
