{% if site.resume_social_links %}
<ul class="icon-links">

  <!-- GitHub link -->
  {% if site.resume_social_links.resume_github_url %}
  <li class="icon-link-item">
    <a rel="noreferrer" href="{{ site.resume_social_links.resume_github_url }}" aria-label="Github" class="icon-link" itemprop="sameAs"><i class="fab fa-github"></i>
    </a>
  </li>
  {% endif %}

  <!-- Twitter link -->
  {% if site.resume_social_links.resume_twitter_url %}
  <li class="icon-link-item">
    <a rel="noreferrer" href="{{ site.resume_social_links.resume_twitter_url }}" aria-label="Twitter" class="icon-link" itemprop="sameAs"><i class="fab fa-twitter"></i></a>
  </li>
  {% endif %}

  <!-- Medium link -->
  {% if site.resume_social_links.resume_medium_url %}
  <li class="icon-link-item">
    <a rel="noreferrer" href="{{ site.resume_social_links.resume_medium_url }}" aria-label="Medium" class="icon-link" itemprop="url"><i class="fab fa-medium-m"></i></a>
  </li>
  {% endif %}

  <!-- Dribbble link -->
  {% if site.resume_social_links.resume_dribbble_url %}
  <li class="icon-link-item">
    <a rel="noreferrer" href="{{ site.resume_social_links.resume_dribbble_url }}" aria-label="Dribble" class="icon-link" itemprop="sameAs"><i class="fab fa-dribbble"></i></a>
  </li>
  {% endif %}

  <!-- Facebook link -->
  {% if site.resume_social_links.resume_facebook_url %}
  <li class="icon-link-item">
    <a rel="noreferrer" href="{{ site.resume_social_links.resume_facebook_url }}" aria-label="Facebook" class="icon-link" itemprop="sameAs"><i class="fab fa-facebook-f"></i></a>
  </li>
  {% endif %}

  <!-- LinkedIn link -->
  {% if site.resume_social_links.resume_linkedin_url %}
  <li class="icon-link-item">
    <a rel="noreferrer" href="{{ site.resume_social_links.resume_linkedin_url }}" aria-label="LinkedIn" class="icon-link" itemprop="sameAs"><i class="fab fa-linkedin-in"></i></a>
  </li>
  {% endif %}

  <!-- Instagram link -->
  {% if site.resume_social_links.resume_instagram_url %}
  <li class="icon-link-item">
    <a rel="noreferrer" href="{{ site.resume_social_links.resume_instagram_url }}" aria-label="Instagram" class="icon-link" itemprop="sameAs"><i class="fab fa-instagram"></i></a>
  </li>
  {% endif %}

  <!-- Website link -->
  {% if site.resume_social_links.resume_website_url %}
  <li class="icon-link-item">
    <a rel="noreferrer" href="{{ site.resume_social_links.resume_website_url }}" aria-label="Website" class="icon-link" itemprop="url"><i class="fas fa-globe-americas"></i></a>
  </li>
  {% endif %}

</ul>
{% endif %}
