<nav>
	<div>
		<a href="/" aria-label="home" class="avatar">
			<img src="/images/avatar.png" width="49" height="55">
		</a>
	</div>
	<div class="routes">
		<h2><a href="/" aria-label="home">Luis Castro</a></h2>
		<div class="route-links">
			<a href="/details" class="{% if '/details.html' == page.url %}active{% endif %}">Nitpicky details</a>
			<a href="/journal" class="{% if '/journal.html' == page.url %}active{% endif %}">Journal</a>
			<a href="/podcast" class="{% if '/podcast.html' == page.url %}active{% endif %}">Podcast</a>
			<a href="/projects" class="{% if '/projects.html' == page.url %}active{% endif %}">Projects</a>
			<a href="/setup" class="{% if '/setup.html' == page.url %}active{% endif %}">Setup</a>
		</div>
	</div>
</nav>
