// Base styles
// ---------------------------------------/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body{
  @include font;
  background: $background--light;
  font-size: 1.6rem;
  line-height: 1.4;
  color: $text--dark;

  @media (prefers-color-scheme: dark) {
	background: $background--dark;
	color: $text--light;
  }
}

main {
  margin: 0 $space--m;
  max-width: 80rem;

  @include media_min(76rem) {
	margin: 0 auto;
  }
}

.page-intro {
  margin-bottom: $space--xxl;
}

.limited-width {
  max-width: 62rem;
}

.column-layout {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: $space--l;

  @include media_min(76rem) {
	grid-template-columns: 1fr 1fr;
  }
}
