// Main colors
$background--light: #F9FAFB;
$background--dark: #1E1F21;
$primary: #338B93;

// Text colors
// Light mode
$text--dark: #151118;
$footnote--dark: rgba($text--dark, 0.75);
$primary--dark: rgba($primary, 0.5);
$accent--dark: rgba(#943C34, 0.5);
// Dark mode
$text--light: #f0f2f3;
$footnote--light: rgba($text--light, 0.75);
$primary--light: rgba(saturate($primary, 50%), 0.75);
$accent--light: rgba(saturate(#943C34, 50%), 0.75);
