h1 {
  @include large_title;
}

h2 {
  @include title1;
}

h3 {
  @include title2
}

h4 {
  @include title3
}

h1,
h2,
h3,
h4 {
  margin: $space--l 0 0;

  strong,
  b {
	font-weight: 800;
  }

  a {
	color: inherit;
	text-decoration: none;
  }
}

ul {
  @include media_larger_than_mobile() {
	padding-left: 0;
  }
}

p, li {
  @include body;
  margin: $space--m 0;

  a {
	@include body_link;
	color: inherit;

	&:hover {
	  opacity: 0.8;
	}

	&:visited {
	  opacity: 1;
	}
  }

  strong,
  b {
	@include body_bold;
  }
}

.color--primary {
  color: $primary--dark;

  @media (prefers-color-scheme: dark) {
	color: $primary--light;
  }
}

.footnote {
  @include footnote;
  margin: $space 0;

  a {
	@include footnote;
	font-weight: 600;
	text-decoration: underline;
	color: inherit;

	&:hover {
	  opacity: 0.8;
	}

	&:visited {
	  opacity: 1;
	}
  }
}

.footnote--link {
  @include footnote;
  text-decoration: none;
  color: $footnote--dark;
  opacity: 0.7;
  margin: $space 0;

  @media (prefers-color-scheme: dark) {
	color: $footnote--light;
  }

  &:hover {
	opacity: 0.8;
  }

  &:visited {
	color: $footnote--dark;
	opacity: 1;

	@media (prefers-color-scheme: dark) {
	  color: $footnote--light;
	}
  }
}

blockquote {
  border-left: 0.3rem solid $footnote--dark;
  padding-left: 1rem;

  @media (prefers-color-scheme: dark) {
	border-left-color: $footnote--light;
  }
}

hr {
  border-color: $footnote--dark;
  margin-top: 4rem;
  margin-bottom: 4rem;

  @media (prefers-color-scheme: dark) {
	border-color: $footnote--light;
  }
}

.with-break {
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid rgba($background--dark, 0.1);
}
