h1 {
  @include large_title;
}

h2 {
  @include title1
}

h3 {
  @include title2
}

h4 {
  @include title3
}

h1,
h2,
h3,
h4 {
  margin: $space--l 0;

  strong,
  b {
	font-weight: 800;
  }
}

p {
  @include body;
  margin: $space--m 0;

  a {
	@include body_link;
	color: $text--dark;

	&:hover {
	  opacity: 0.8;
	}

	&:visited {
	  color: $text--dark;
	  opacity: 1;
	}
  }

  strong,
  b {
	@include body_bold;
  }
}

.color--primary {
  color: $primary--dark;

  @media (prefers-color-scheme: dark) {
	color: $primary--light;
  }
}

.footnote {
  @include footnote;

  a {
	@include footnote;
	font-weight: 600;
	text-decoration: underline;
	color: $footnote--dark;

	@media (prefers-color-scheme: dark) {
	  color: $footnote--light;
	}

	&:hover {
	  opacity: 0.8;
	}

	&:visited {
	  color: $footnote--dark;
	  opacity: 1;

	  @media (prefers-color-scheme: dark) {
		color: $footnote--light;
	  }
	}
  }
}

.footnote--link {
  @include footnote;
  text-decoration: none;
  color: $footnote--dark;
  opacity: 0.7;

  @media (prefers-color-scheme: dark) {
	color: $footnote--light;
  }

  &:hover {
	opacity: 0.8;
  }

  &:visited {
	color: $footnote--dark;
	opacity: 1;

	@media (prefers-color-scheme: dark) {
	  color: $footnote--light;
	}
  }
}
