// Home styles
// ---------------------------------------/

.hero {
  h1 {
	@include title1;
	font-size: 6.4rem;

	span {
	  color: $primary--dark;

	  @media (prefers-color-scheme: dark) {
		color: $primary--light;
	  }
	}
  }
}
