// Home styles
// ---------------------------------------/

.hero {
  h1 {
	@include title1;
	font-size: 6.4rem;
	margin-bottom: $space--xxl;

	span {
	  color: $primary--dark;
	  text-shadow: none;

	  @media (prefers-color-scheme: dark) {
		color: $primary--light;
	  }
	}
  }
}

.projects {
  margin-top: $space--xxl;

  .column-layout {
	margin-top: $space--m;
	column-gap: $space--l;
  }
}

.box {
  background: white;
  padding: $space;
  box-shadow: 0 0.4rem 0.5rem 0 rgba(0,0,0,0.05), 0 0.2rem 1rem 0 rgba(0,0,0,0.10);
  border-radius: 1rem;
  text-decoration: none;
  transition: transform 108ms cubic-bezier(.17,.67,.83,.67);
  display: grid;
  grid-template-columns: 6.4rem 1fr;
  grid-gap: 1rem;
  align-items: center;
  justify-content: flex-start;

  img {
	margin-right: $space;
	display: block;
	border-radius: 1rem;
	height: 6.4rem;
	width: 6.4rem;
  }

  &:hover {
	@include media_larger_than_mobile() {
		transform: scale(1.05);
	}
  }

  h3 {
	margin-top: 0;
	color: $text--dark;
  }

  .footnote {
	margin: 0;
	color: $footnote--dark;
  }
}

.project-title {
  display: grid;
  grid-gap: 1rem;

  @include media_larger_than_mobile() {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
}
