// Mixins
// ---------------------------------------/

// media query tools

@mixin media_max($screen_width) {
  @media (max-width: $screen_width) { @content; }
}

@mixin media_min($screen_width) {
  @media (min-width: $screen_width) { @content; }
}

@mixin media_larger_than_mobile {
  @media (min-width: 600px) { @content; }
}

@mixin media_mobile {
  @media (max-width: 600px) { @content; }
}

// type utilities

@mixin font {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

@mixin font_light {
  @include font;
  font-weight: 300;
}

@mixin font_regular {
  @include font;
  font-weight: 400;
}

@mixin font_bold {
  @include font;
  font-weight: 700;
}

@mixin font_extrabold {
  @include font;
  font-weight: 800;
}
