// Navigation styles
// ---------------------------------------/

nav {
  display: flex;
  padding-top: $space;
  margin-bottom: $space--xxl;

  @include media_mobile() {
	margin-bottom: $space--xl;
  }

  .routes {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
  }

  .avatar {
	align-items: center;
	display: flex;
	height: 7.1rem;
	justify-content: center;
	margin: $space $space $space 0;
	opacity: 1;
	transition: transform 108ms cubic-bezier(.17,.67,.83,.67);
	width: 7.1rem;

	&:hover {
	  opacity: 1;
	  transform: rotate(-10deg);
	  filter: drop-shadow(0.25rem 0.25rem 0.5rem rgba($text--dark, 0.1));
	}
  }

  h2 {
	margin: 0 0 $space;

	a {
	  text-decoration: none;
	  color: $text--dark;

	  &:hover,
	  &:visited {
		color: $text--dark;
	  }

	  @media (prefers-color-scheme: dark) {
		color: $text--light;

		&:hover,
		&:visited {
		  color: $text--light;
		}
	  }
	}
  }

  .route-links {
	a {
	  @include light;
	  display: inline-block;
	  color: $text--dark;
	  margin-right: $space--l;
	  text-decoration: none;
	  opacity: 0.5;

	  &:hover {
		opacity: 0.8;
	  }

	  &.active {
		opacity: 1;
	  }

	  &:not(:nth-last-child) {
		margin-right: 0;
	  }

	  @media (prefers-color-scheme: dark) {
		color: $text--light;
	  }

	  @include media_mobile() {
		margin-bottom: $space;
	  }
	}
  }
}
