// Variables
// ---------------------------------------/
$container-width: 980px !default;
$grid-gutter:     10px !default;

// Colors
$white:             #fff;
$black:             #333;

// Styles
$text_color:        $black;

// Font stack
$body-font: "Sora", "Minion Pro", Palatino, Georgia, serif !default;

// The base body size
$body-font-size: 13px !default;

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
