---
import Layout from "@/layouts/main.astro";
---

<Layout title="About | Luis Castro" description="About Luis Castro.">
  <section class="space-y-8">
    <div class="space-y-3">
      <p class="text-base leading-7 text-muted-foreground">
        I’m an experienced web and mobile developer based in Andorra. I’m
        currently building Digg’s mobile app, where you can share and discover
        the best of the internet—and beyond.
      </p>
    </div>

    <div class="space-y-5 text-base leading-8 text-muted-foreground">
      <p>
        I love working in the realm between design and code. Some things that
        makes me excited are JavaScript frameworks (yeah), CSS, Design Systems,
        Animation, crafting excellent component APIs and making interfaces feel
        fun and personal.
      </p>
      <p>
        Since 2012, I have collaborated with multiple start-ups around the world
        and contributed to their success by delivering reliable and timely code
        to expand/improve their product offerings. Companies like
        <a
          class="text-accent hover:underline"
          href="https://digg.com"
          target="_blank"
          rel="nofollow noopener noreferrer external">Digg</a
        >
        ,
        <a
          class="text-accent hover:underline"
          href="https://cameo.com"
          target="_blank"
          rel="nofollow noopener noreferrer external">Cameo</a
        >
        ,
        <a
          class="text-accent hover:underline"
          href="https://free-now.com"
          target="_blank"
          rel="nofollow noopener noreferrer external">Freenow</a
        >
        ,
        <a
          class="text-accent hover:underline"
          href="https://www.realscout.com/"
          target="_blank"
          rel="nofollow noopener noreferrer external">RealScout</a
        >
        and
        <a
          class="text-accent hover:underline"
          href="https://debtcollective.org/"
          target="_blank"
          rel="nofollow noopener noreferrer external">Debt Collective</a
        >
        .
      </p>
    </div>
  </section>
</Layout>
