// -----------------------------------------------------------------------------
// #COLOURS
// -----------------------------------------------------------------------------

$black:                 #111111;
$curious-blue:          #2F97D9;
$glacous:               #607EB5;
$punch:                 #E2472E;
$summer-sky:            #3CAEE6;
$tangerine:             #FFCD00;
$tuatara:               #373737;
$utah-crimson:          #CE093E;
$vida-loca:             #469B1E;
$white:                 #FFFFFF;


// -----------------------------------------------------------------------------
// #STATES
// -----------------------------------------------------------------------------

$base:                  $curious-blue;
$accent:                $punch;
$error:                 $utah-crimson;
$valid:                 $vida-loca;
