// -----------------------------------------------------------------------------
// #GLOBAL
// -----------------------------------------------------------------------------

$main-nav-height: 55px; // padding + font-size
$indent: -9999em;

// layer position controller list
$index-list: 'bx-controls', 'navigation-mobile', 'navigation';


$global--amount-of-columns-desktop: 12;
