---

---
<body class="bg-vanilla-50 dark:bg-oxford-blue-950 min-h-full">
<nav class="max-w-2xl mx-auto w-full flex gap-4 justify-end px-8 py-4 mb-12">
  <a
    class:list={["md:transition-all md:hover:translate-y-0.5 md:hover:shadow-sm inline-flex py-2 px-4 rounded-xl border-2 border-vanilla-200 shadow-md shadow-vanilla-500/10 md:hover:shadow-vanilla-500/30"]}
    href="/">Home</a>
  <a
    class:list={["md:transition-all md:hover:translate-y-0.5 md:hover:shadow-sm inline-flex py-2 px-4 rounded-xl border-2 border-vanilla-200 shadow-md shadow-vanilla-500/10 md:hover:shadow-vanilla-500/30"]}
    href="/work/">Work</a>
  <a
    class:list={["md:transition-all md:hover:translate-y-0.5 md:hover:shadow-sm inline-flex py-2 px-4 rounded-xl border-2 border-vanilla-200 shadow-md shadow-vanilla-500/10 md:hover:shadow-vanilla-500/30"]}
    href="/blog/">Blog</a>
</nav>
<slot/>
</body>