---
const { class: className } = Astro.props
---
<div class:list={["flex flex-col p-8 space-y-2 border border-nobel-200 rounded-xl bg-white dark:bg-oxford-blue-950 shadow-lg shadow-vanilla-500/10 text-start", className]}>
  <slot/>
</div>