---
interface Props {
  children: any;
}
---
<span class="px-2 py-1 border border-vanilla-400 dark:border-oxford-blue-400 text-vanilla-600 dark:text-oxford-blue-100 rounded-xl inline-flex font-sans text-sm">
  <slot />
</span>