// -----------------------------------------------------------------------------
// #WRAPPERS
// -----------------------------------------------------------------------------

.wrapper {
  @include clearfix();
  margin: 0 auto;
  padding: 0 $pad-quarter;
  max-width: 1160px;
}


// -----------------------------------------------------------------------------
// #ROWS & COLUMNS
// -----------------------------------------------------------------------------
$space-for-grid-adjustment: $space-quarter;


.row {
  @include clearfix();
  margin-right: -$space-for-grid-adjustment;
  margin-left: -$space-for-grid-adjustment;
}

[class^='column-'] {
  float: left;
  min-height: 1px;
  padding: 0 $space-for-grid-adjustment;
}


//------------------------------------------------------------------------------
// #DESKTOP-COLUMNS
//------------------------------------------------------------------------------

$calc--with: 100%;

@for $i from 1 through $global--amount-of-columns-desktop {
  .column-#{$i}-#{$global--amount-of-columns-desktop} {
    $width: ($calc--with / $global--amount-of-columns-desktop) * $i;

    width: $width;
  }
}


//------------------------------------------------------------------------------
// #TABLET-COLUMNS
//------------------------------------------------------------------------------

.column__tablet-1-1 {
  @media (max-width: $venti) {
    width: 100%;
  }
}


.column__tablet-1-2 {
  @media (max-width: $venti) {
    width: 50%;
  }
}


.column__tablet-1-3 {
  @media (max-width: $venti) {
    width: 33.33%;
  }
}


.column__tablet-1-4 {
  @media (max-width: $venti) {
    width: 25%;
  }
}


//------------------------------------------------------------------------------
// #MOBILE-COLUMNS
//------------------------------------------------------------------------------

.column__mobile-1-1 {
  @media (max-width: $tall) {
    width: 100%;
  }
}


.column__mobile-1-2 {
  @media (max-width: $tall) {
    width: 50%;
  }
}


.column__mobile-1-3 {
  @media (max-width: $tall) {
    width: 33.33%;
  }
}


.column__mobile-1-4 {
  @media (max-width: $tall) {
    width: 25%;
  }
}



// -----------------------------------------------------------------------------
// #HELPERS
// -----------------------------------------------------------------------------

.not-ready {
  display: none !important;
}
