// -----------------------------------------------------------------------------
// #HERO
// -----------------------------------------------------------------------------

.hero-section {
  height: auto;
  width: 100%;

  @media (min-width: $trenta) {
    height: 100%;
  }
}

.with-slider {
  padding: ($pad * 4) 0;
}
