<!DOCTYPE html>
<html dir="ltr" lang="en">
{% include head.html %}
<body>
<main>
	{% include navigation.html %}
	<h2>Who am I?</h2>
	<h4>
		I’m a <strong>Full-stack developer</strong>, currently working
		from <strong>Barcelona, Spain</strong>. Making products that work fast,
		are easy to use, persuasive, relevant to the customer and fit in the
		business environment.
	</h4>

	<p>
		I have worked with many companies over the years, a few examples are
		<a href="https://cameo.com" rel="noreferrer" target="_blank">Cameo</a>, <a href="https://free-now.com"
																				   rel="noreferrer" target="_blank">Free
		Now</a>, <a href="https://www.realscout.com" rel="noreferrer" target="_blank">
		RealScout</a> and <a href="https://www.hashlabs.com" rel="noreferrer" target="_blank">Hash Labs</a>.
	</p>
	<p>
		I have also contributed to a couple non-profit organizations like
		<a href="https://debtcollective.org" rel="noreferrer">Debt-Collective</a> creating software allowing them to
		accept donations and give accountability for both the end-user donating to the cause and the NGO.
	</p>
	<p>
		I speak <strong>English (Full professional proficiency)</strong> and <strong>Spanish (Native or bilingual
		proficiency)</strong>
		and if you want to know, I love cooking, music and photography, which I combine with my love for traveling
		around the world and meeting new cultures.
	</p>
	<p>
		Curious about how I work? Check out my <a href="/setup">setup page</a> for a full list of all the software,
		gadgets, and services I use.
	</p>
	<p>
		But let’s talk about technical skills
	</p>

	<section class="column-layout">
		<div>
			<h4>Tools & Technologies</h4>
			<p>
				Javascript, ReactJS, React Native, Redux, TypeScript, Ruby, Ruby on Rails, Swift & SwiftUI, PostgreSQL,
				PostGIS, Git, HTML5 and CSS3.
			</p>
		</div>
		<div>
			<h4>Industry Knowledge</h4>
			<p>
				User Experience (UX), Strategic Planning, Design, Composition, Sketch, Figma, Pixelmator and Project
				Management.
			</p>
		</div>
		<div>
			<h4>Management</h4>
			<p>Agile with SCRUM, Project planning, data gathering and pair-programming.</p>
		</div>
	</section>
	{% include footer.html %}
</main>
</body>
