<html dir="ltr" lang="en">
{% include head.html %}
<body>
<main>
	{% include navigation.html %}
	<section class="page-intro">
		<p>
			This is a space where <a href="https://twitter.com/duranmla" rel="nofollow" target="_blank">@duranmla</a>
			and I gather our thoughts every week and sit down to discuss the state of the tech environment in our lives
			and give tools to other developers to become more focused and engage better in their work environments.
		</p>
		<p>
			Spoiler alert, <b>we only do it in Spanish</b>.
		</p>
	</section>
</main>
</body>
