<!DOCTYPE html>
<html dir="ltr" lang="en">
{% include head.html %}
<body>
<main>
	{% include navigation.html %}
	<div class="limited-width">
		<section class="page-intro">
			<p>
				My main focus right now is with <a href="https://cameo.com" rel="noreferrer" target="_blank">Cameo</a>,
				but
				on
				2020 I decided I wanted to give myself a taste of what the indie developer life looks like, well at
				least a
				bit of it.
			</p>
			<p>
				So I made the decision to dedicate my spare time to the projects & ideas that could make my life in a
				way
				easier.
			</p>
			<p>
				Here are some of the other projects I've worked on in the past — some still actively maintained, and
				others
				on
				pause for now.
			</p>
		</section>

		<h2 class="color--primary">
			Logbook
		</h2>
		<p class="footnote">
			The Logbook is my personal journaling app, no ads, free to use, that helps you track your mood and your personal goals.
			Available to download on
			the <a href="https://apps.apple.com/app/id1536966901" rel="nofollow" target="_blank">AppStore</a>.
		</p>
		<p class="footnote">
			I made this app with the help and designs of <a href="https://twitter.com/schulertime" rel="nofollow"
															   target="_blank">@schulertime</a>, our main focus was to
			make entries and goals in a journal like environment that has no pressure and that does not insist on you doing
			daily entries and carving time to write them be effective.
		</p>
		<a class="footnote--link" href="http://logbook.today" rel="nofollow" target="_blank">Visit the site &#8594;</a>

		<h2 class="color--primary">
			Chomp treats
		</h2>
		<p class="footnote">
			Chomp makes it easy for raw feeders worldwide to track their loved ones' food intake. Available to download
			on
			the <a href="https://apps.apple.com/us/app/chomp-treats/id1511759798" rel="nofollow" target="_blank">AppStore</a>
			and <a href="https://play.google.com/store/apps/details?id=com.luiscastro.chomptreats" rel="nofollow"
				   target="_blank">
			Play Store</a>.
		</p>
		<p class="footnote">
			I created this app with the help and designs of <a href="https://twitter.com/schulertime" rel="nofollow"
															   target="_blank">@schulertime</a>, our main focus was to
			provide a way for pet owners
			to track the happiness of their pets, and the best way for it in our opinion is to understand how many
			treats as
			a pet owner you give them.
		</p>
		<a class="footnote--link" href="http://chompapp.io" rel="nofollow" target="_blank">Visit the site &#8594;</a>

		<h2 class="color--primary">
			No es sólo código
		</h2>
		<p class="footnote">
			A podcast to talk about the state of the tech industry based on the experiences that
			<a href="https://twitter.com/duranmla" rel="nofollow" target="_blank">@duranmla</a> and I have
			working for two (2) totally different companies, our main purpose is to teach developers how to be more
			proactive and focused at their jobs.
		</p>
		<p class="footnote">
			We started recording on January 2020 as part of our shared goals and we have been loving the insights we
			have
			discovered of ourselves through the process.
		</p>
		<p class="footnote">
			You can listen on <a
				href="https://podcasts.apple.com/us/podcast/no-es-s%C3%B3lo-c%C3%B3digo/id1480271316?uo=4"
				rel="noreferrer" target="_blank">Apple Podcast</a>, <a
				href="https://open.spotify.com/show/53HzErNzekUISBGZy3O8D7"
				rel="noreferrer" target="_blank">Spotify</a>, <a
				href="https://overcast.fm/itunes1480271316/no-es-s-lo-c-digo"
				rel="noreferrer" target="_blank">Overcast</a>, among others.
		</p>
	</div>
	{% include footer.html %}
</main>
</body>
