<!DOCTYPE html>
<html dir="ltr" lang="en">
{% include head.html %}
<body>
<main>
	{% include navigation.html %}
	<div class="limited-width">
		<section class="page-intro">
			<p>
				As a person that has been working remotely for a long time (7+ years of experience) I get a lot of
				questions
				regarding my setup and how I’m able to focus on my daily tasks when working from home.
			</p>
			<p>
				A few of the links below are affiliate links which means I get paid or rewarded in some way if you use
				them
				to
				purchase, but rest assured these are all tools and services I actually use.
			</p>
		</section>

		<h2 class="with-break">
			Workstation
		</h2>
		<p>
			<a href="https://support.apple.com/kb/SP756?locale=en_US" rel="nofollow">MacBook Pro 15”, 2.9Ghz 4-Core Core i7, 16GB of RAM, AMD Radeon Pro 560 4GB (2017)</a>
		</p>
		<p class="footnote">
			It might not be the newest MacBook Pro, but it gets the job done. This is my personal computer and it does
			not
			reflect what I use on my day to day work environment, but it does reflect what I use for all my personal
			projects and work.
		</p>
		<p>
			<a href="https://www.apple.com/shop/product/MLA22LL/A/magic-keyboard-us-english?fnode=737cfd6dee82e40020c2d1c290d372442caea36ffa6deb5908121876800a1ce54755397efc943154ef2c47d3d0e5af608660356d22735c7e16382cc13e547dc7f88253d5dc786abd4fc225fefede696b6adcbede2c5102c8c8e19fdb3cd0b380480cbafa87dbdaba814eae41b4788885&fs=fh%3D36f4%252B30b5" rel="nofollow">Apple wireless keyboard</a>
		</p>
		<p class="footnote">
			It ain’t a mechanical keyboard, because mechanical keyboards are too loud and I am a loud typer. So my pet
			didn’t like when I had one haha.
		</p>
		<p>
			<a href="https://www.logitech.com/en-ph/product/mx-master-2s-flow" rel="nofollow">Logitech MX Master 2</a>
		</p>
		<p class="footnote">
			One of the best mouse for daily use you can buy on the market, there’s a new version, but the only reason I
			replaced the original MX Master with the 2nd version was because I broke it while moving from my previous
			home.
		</p>
		<p>
			<a href="https://store.hp.com/us/en/pdp/hp-envy-27-27-inch-display" rel="nofollow">HP Envy 27” 4K</a>
		</p>
		<p class="footnote">
			It’s a good IPS panel, with a good support of Adobe RGB and some support for DCP3, it’s not the best monitor
			on
			the market and it’s a bit old by today standards, but the non glossy surface is great for my eyes.
		</p>
		<p>
			<a href="https://www.fully.com/standing-desks/jarvis/jarvis-frame-only.html" rel="nofollow">Fully Jarvis Standing desk (Extended version)</a>
		</p>
		<p class="footnote">
			Love these legs, they are near silent when raising or lowering and they can lift enough weight, that’s why I
			bought an IKEA kitchen counter of almost 2m long to get a huge workspace area.
		</p>

		<h2 class="with-break">
			Software
		</h2>
		<p>
			<a href="https://www.jetbrains.com/webstorm/" rel="nofollow">WebStorm</a>
		</p>
		<p class="footnote">
			The best IDE when developing with JavaScript or TypeScript, I love the keyboard shortcuts and the built-in
			elements of it for testing purposes.
		</p>
		<p>
			<a href="https://plugins.jetbrains.com/plugin/12100-dark-purple-theme" rel="nofollow">Dark Purple</a>
		</p>
		<p class="footnote">
			Darker than Darcula and the other defaults from Intellij, it has a big advantage over themes based in
			Material
			Design, which is, you don’t have to install anything extra that slows down your IDE to customize the colors.
		</p>
		<p>
			<a href="https://www.jetbrains.com/lp/mono/" rel="nofollow">JetBrains Mono</a>
		</p>
		<p class="footnote">
			I find the ligatures helpful but felt that Fira Retina for coding was getting a bit out of hand with these.
			I
			also like using Menlo which is a default from macOS, but it does not have any of the helpful ligatures.
		</p>
		<p>
			<a href="https://iterm2.com" rel="nofollow">iTerm 2</a>
		</p>
		<p class="footnote">
			Extends great keyboard shortcuts over the built-in terminal in macOS.
		</p>
		<p>
			<a href="https://github.com/castrolem" rel="nofollow">GitHub</a>
		</p>
		<p class="footnote">
			It’s free, looks good, and works better than the other options.
		</p>
		<p>
			<a href="https://tuple.app" rel="nofollow">Tuple</a>
		</p>
		<p class="footnote">
			The best non resource hungry software for pair programming.
		</p>

		<h2 class="with-break">
			Design
		</h2>
		<p>
			<a href="https://www.sketch.com" rel="nofollow">Sketch</a>
		</p>
		<p class="footnote">
			I know all the cool kids probably moved to Figma or Framer, but I find the native UI of Sketch much much
			faster
			than those software and it keeps it simple.
		</p>
		<p>
			<a href="https://www.pixelmator.com/pro/" rel="nofollow">Pixelmator Pro</a>
		</p>
		<p class="footnote">
			This is my favorite software for editing photos, I got into Pixelmator on 2011 and have been a fan of their
			work
			since then.
		</p>

		<h2 class="with-break">
			Podcasting / Streaming
		</h2>
		<p>
			<a href="https://focusrite.com/en/usb-audio-interface/scarlett/scarlett-solo-studio" rel="nofollow">Focusrite Scarlett CM25 MkIII</a>
		</p>
		<p class="footnote">
			I upgraded from a Blue Yeti to this Microphone and I’m amazed by the difference in sound quality that it
			delivers.
		</p>
		<p>
			<a href="https://focusrite.com/en/usb-audio-interface/scarlett/scarlett-solo-studio" rel="nofollow">Focusrite Scarlett 2i2 3rd Gen</a>
		</p>
		<p class="footnote">
			I love the physical knobs and the visual feedback from the LED wheel for how loud you are speaking.
		</p>
		<p>
			<a href="https://artproaudio.com/product/tube-mp-the-original/" rel="nofollow">ART Tube MP</a>
		</p>
		<p class="footnote">
			It’s a solid preamp for those moments where I don’t want to be as close to the microphone, usually when
			talking
			to my co-workers over Zoom or when pair-programming.
		</p>
		<p>
			<a href="https://europe.beyerdynamic.com/dt-990-pro.html" rel="nofollow">Beyerdynamic DT 990 Pro headphones</a>
		</p>
		<p class="footnote">
			I use them to monitor my own voice when I’m recording but also, to listen to music, it’s such a good pair of
			headphones, their sound quality can be compared with much much higher price headphones.
		</p>
		<p>
			<a href="http://rogueamoeba.com/audiohijackpro/" rel="nofollow">Audio Hijack Pro</a>
		</p>
		<p class="footnote">
			I use this to record all of my podcast, even the ones where we talk over Skype, FaceTime or others. Amazing
			software, highly recommended.
		</p>
		<p>
			<a href="https://obsproject.com" rel="nofollow">OBS Studio</a>
		</p>
		<p class="footnote">
			It’s free, it’s ok. If I get more into livestreaming and get a benefit from them, I would consider investing
			on
			a more polished software.
		</p>
	</div>
	{% include footer.html %}
</main>
</body>
