<html dir="ltr" lang="en">
{% include head.html %}
<body>
<main>
	{% include navigation.html %}
	<div class="limited-width">
		<section class="page-intro">
			<p>
				As a person that has been working remotely for a long time (7+ years of experience) I get a lot of
				questions
				regarding my setup and how I’m able to focus on my daily tasks when working from home.
			</p>
			<p>
				A few of the links below are affiliate links which means I get paid or rewarded in some way if you use
				them
				to
				purchase, but rest assured these are all tools and services I actually use.
			</p>
		</section>

		<h2>
			Workstation
		</h2>
		<p>
			MacBook Pro 15”, 2.9Ghz 4-Core Core i7, 16GB of RAM, AMD Radeon Pro 560 4GB (2017)
		</p>
		<p class="footnote">
			It might not be the newest MacBook Pro, but it gets the job done. This is my personal computer and it does
			not
			reflect what I use on my day to day work environment, but it does reflect what I use for all my personal
			projects and work.
		</p>
		<p>
			Apple wireless keyboard
		</p>
		<p class="footnote">
			It ain’t a mechanical keyboard, because mechanical keyboards are too loud and I am a loud typer. So my pet
			didn’t like when I had one haha.
		</p>
		<p>
			Logitech MX Master 2
		</p>
		<p class="footnote">
			One of the best mouse for daily use you can buy on the market, there’s a new version, but the only reason I
			replaced the original MX Master with the 2nd version was because I broke it while moving from my previous
			home.
		</p>
		<p>
			HP Envy 27” 4k
		</p>
		<p class="footnote">
			It’s a good IPS panel, with a good support of Adobe RGB and some support for DCP3, it’s not the best monitor
			on
			the market and it’s a bit old by today standards, but the non glossy surface is great for my eyes.
		</p>
		<p>
			Fully Jarvis Standing desk (Extended version)
		</p>
		<p class="footnote">
			Love these legs, they are near silent when raising or lowering and they can lift enough weight, that’s why I
			bought an IKEA kitchen counter of almost 2m long to get a huge workspace area.
		</p>

		<h2>
			Workstation
		</h2>
		<p>
			Webstorm
		</p>
		<p class="footnote">
			The best IDE when developing with JavaScript or TypeScript, I love the keyboard shortcuts and the built-in
			elements of it for testing purposes.
		</p>
		<p>
			Dark Purple
		</p>
		<p class="footnote">
			Darker than Darcula and the other defaults from Intellij, it has a big advantage over themes based in
			Material
			Design, which is, you don’t have to install anything extra that slows down your IDE to customize the colors.
		</p>
		<p>
			JetBrains Mono
		</p>
		<p class="footnote">
			I find the ligatures helpful but felt that Fira Retina for coding was getting a bit out of hand with these.
			I
			also like using Menlo which is a default from macOS, but it does not have any of the helpful ligatures.
		</p>
		<p>
			iTerm
		</p>
		<p class="footnote">
			Extends great keyboard shortcuts over the built-in terminal in macOS.
		</p>
		<p>
			GitHub
		</p>
		<p class="footnote">
			It’s free, looks good, and works better than the other options.
		</p>
		<p>
			Tuple
		</p>
		<p class="footnote">
			The best non resource hungry software for pair programming.
		</p>

		<h2>
			Design
		</h2>
		<p>
			Sketch
		</p>
		<p class="footnote">
			I know all the cool kids probably moved to Figma or Framer, but I find the native UI of Sketch much much
			faster
			than those software and it keeps it simple.
		</p>
		<p>
			Pixelmator Pro
		</p>
		<p class="footnote">
			This is my favorite software for editing photos, I got into Pixelmator on 2011 and have been a fan of their
			work
			since then.
		</p>

		<h2>
			Podcasting/Screencasting
		</h2>
		<p>
			Focusrite Scarlett CM25 MkIII
		</p>
		<p class="footnote">
			I upgraded from a Blue Yeti to this Microphone and I’m amazed by the difference in sound quality that it
			delivers.
		</p>
		<p>
			Focusrite Scarlett 2i2 3rd Gen
		</p>
		<p class="footnote">
			I love the physical knobs and the visual feedback from the LED wheel for how loud you are speaking.
		</p>
		<p>
			ART Tube MP
		</p>
		<p class="footnote">
			It’s a solid preamp for those moments where I don’t want to be as close to the microphone, usually when
			talking
			to my co-workers over Zoom or when pair-programming.
		</p>
		<p>
			Beyerdynamic DT 990 Pro headphones
		</p>
		<p class="footnote">
			I use them to monitor my own voice when I’m recording but also, to listen to music, it’s such a good pair of
			headphones, their sound quality can be compared with much much higher price headphones.
		</p>
		<p>
			Audio Hijack Pro
		</p>
		<p class="footnote">
			I use this to record all of my podcast, even the ones where we talk over Skype, FaceTime or others. Amazing
			software, highly recommended.
		</p>
		<p>
			OBS
		</p>
		<p class="footnote">
			It’s free, it’s ok. If I get more into livestreaming and get a benefit from them, I would consider investing
			on
			a more polished software.
		</p>
	</div>
</main>
</body>
