/* Register your custom font family and tell the browser where to find it. */
@font-face {
    font-family: 'AkzidenzGroteskBE';
    src: url('/fonts/AkzidenzGroteskBE-Regular.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AkzidenzGroteskBE';
    src: url('/fonts/AkzidenzGroteskBE-Light.otf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AkzidenzGroteskBE';
    src: url('/fonts/AkzidenzGroteskBE-Bold.otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AkzidenzGroteskBE';
    src: url('/fonts/AkzidenzGroteskBE-Super.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AkzidenzGroteskBE-Ex';
    src: url('/fonts/AkzidenzGroteskBE-Ex.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AkzidenzGroteskBE-Ex';
    src: url('/fonts/AkzidenzGroteskBE-LightEx.otf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AkzidenzGroteskBE-Ex';
    src: url('/fonts/AkzidenzGroteskBE-BoldEx.otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AkzidenzGroteskBE-Ex';
    src: url('/fonts/AkzidenzGroteskBE-SuperEx.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}