---
import Body from "../components/Body.astro";

const {pageTitle} = Astro.props;
---
<html lang="en" class="h-full">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/ico" href="/favicon.ico"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="generator" content={Astro.generator}/>
  <title>{pageTitle}</title>
</head>
<Body>
  <slot />
</Body>
</html>